@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity all 300ms ease;
}

p {
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text--purple {
  color: #6415ff;
}

hr {
  opacity: 0.3;
}

i:hover {
  opacity: 0.7;
  transition: all 300ms ease;
}

.link__hover-effect::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}

.link__hover-effect--white::after {
  background-color: white;
}

.link__hover-effect:hover::after {
  width: 100%;
  left: 0;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.menu--open {
max-height: 100vh;
overflow-y: hidden;
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  font-size: 40px;
  color: white;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: white;
}

/*

LANDING

*/

.nav__container {
  padding-top: 24px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.nav__link:hover {
  color: #6415ff;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.nav__link--primary {
  border: 2px solid #6415ff;
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 32px;
  padding: 12px 32px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img--wrapper {
  color: #243e63;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  transition: all 300ms ease;
}

.nav__img--wrapper:hover {
  color: #6415ff;
}

.nav__img--logo {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.header__description--wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__description--header {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
  line-height: 1.25;
}

.header__description--para {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
}

.header__description--email {
  content: "";
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  padding: 20px 192px 20px 32px;
  border-radius: 32px;
  border-color: #243e63;
  opacity: 0.2;
  transition: all 300ms ease;
  font-size: 100%;
}

input:hover {
  opacity: 0.4;
}

.button__text {
  color: white;
}

.button {
  content: "";
  position: absolute;
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: #6415ff;
  border-radius: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 1;
}

.button:hover {
  opacity: 0.5;
}

.trusted-companies__header {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__img--wrapper {
  display: flex;
  width: 60%;
}

.trusted-companies__logo {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
  width: 100%;
}

.header__img {
  width: 100%;
}

/*

FEATURES

*/

.features__container {
  padding: 96px 0;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
}

.features__service--title {
  width: 100%;
  font-size: 48px;
  text-align: center;
  color: #243e63;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.features__header--para {
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  margin: 16px 0 40px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

.features__service--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.features__service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 8px;
}

.features__service--icon {
  border: 1px solid #7c8ba173;
  border-radius: 9999px;
  padding: 20px;
}

.features__service--description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px 0 0 16px;
}

.features__service--header {
  font-size: 24px;
}

.features__service--para {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  padding-top: 16px;
  line-height: 2;
}

/*

QUALITY-WORK

*/

.quality__container {
  padding: 96px 0;
}

.quality__work--wrapper {
  display: flex;
}

.quality__work--description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 60px 32px 0;
}

.quality__work--title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
}

.quality__work--header {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  color: #243e63;
  letter-spacing: 0.025em;
}

.quality__work--para {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 1.625;
  color: #7c8ba1;
}

.quality__work--img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality__work--img {
  width: 100%;
}

.button__quality--wrapper {
  display: flex;
  margin-top: 32px;
}

.button__quality--work {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: #6415ff;
  border-radius: 32px;
  text-align: center;
  opacity: 1;
  transition: all 300ms ease;
}

.button__quality--work:hover {
  opacity: 0.5;
}

/*

STEPS

*/

.steps__container {
  padding: 96px 0;
}

.steps__wrapper {
  display: flex;
}

.steps__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.steps__img {
  padding: 48px;
  width: 100%;
}

.steps__description--title {
  font-size: 16px;
  font-weight: 700;
}

.steps__description--header {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  color: #243e63;
  letter-spacing: 0.025em;
}

.steps__description {
  display: flex;
  flex-direction: column;
}

.steps__description--steps {
  display: flex;
  flex-direction: column;
}

.steps__description--step {
  display: flex;
  margin-top: 32px;
}

.steps__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  padding-right: 20px;
}

.steps__number--description {
  display: flex;
  flex-direction: column;
}

.steps__number--header {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.steps__number--para {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin-top: 12px;
  max-width: 70%;
}

/*

 PRICING

 */

.pricing__container {
  padding: 48px 0;
}

.pricing__description--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pricing__description--title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

.pricing__description--header {
  font-size: 48px;
  font-weight: 900;
  color: #1a202c;
  letter-spacing: 0.025em;
}

.pricing__description--para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  max-width: 576px;
  text-align: center;
  line-height: 1.625;
  margin-top: 16px;
}

.subscription__list {
  width: 100%;
  display: flex;
}

.subscription__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% / 3);
  margin-top: 64px;
  padding: 8px 32px 0;
}

.subscription__link--sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #7c8ba157;
  border-radius: 8px;
  padding: 28px;
  position: relative;
}

.subscription__link:nth-child(even) .subscription__link--sections {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.subscription__link--section--0--1,
.subscription__link--section--0--3 {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.subscription__link--section--1 {
  padding: 32px 0;
}

.subscription__link--name {
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.subscription__link--price {
  font-size: 48px;
  font-weight: 700;
  margin: 4px 0;
  color: #1a202c;
}

.subscription__link--time {
  font-size: 16px;
  font-weight: 700;
  color: #a0aec0;
  letter-spacing: 0.1em;
}

.subscription__link--section--2 {
  padding: 32px 0;
}

.subscription__link--link {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #718096;
}

.subscription__link--link:first-child {
  margin-top: 0;
  font-size: 20px;
  font-weight: 700;
  color: #1a202c;
}

.subscription__link--section--3 {
  display: flex;
  flex-direction: column;
  padding: 32px 64px;
}

.button__pricing--plans--1,
.button__pricing--plans--2,
.button__pricing--plans--3 {
  width: 100%;
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 32px;
  text-align: center;
  letter-spacing: 0.05em;
  opacity: 1;
  scale: 100%;
  transition: all 300ms ease;
}
.button__pricing--plans--1,
.subscription__link--section--0--1 {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.button__pricing--plans--3,
.subscription__link--section--0--3 {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.button__pricing--plans--2 {
  background-color: white;
}

.subscription__link:nth-child(even) .subscription__link--link:first-child,
.white--text {
  color: white;
}

.button__pricing--plans--1:hover,
.button__pricing--plans--2:hover,
.button__pricing--plans--3:hover {
  scale: 95%;
}

/*

FOOTER

*/

footer {
  background-color: #6415ff;
  color: white;
  padding: 48px 0 96px 0;
}

footer a {
  color: white;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__list--wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__list {
  margin-top: 48px;
}

.footer__list--header {
  font-size: 16px;
  font-weight: 700;
}

.footer__list--links {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.footer__list--link {
  margin-top: 12px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 500;
}

.footer__hr {
  margin: 48px 0;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  width: 32px;
  height: 32px;
}

.footer__logo--text {
  font-size: 20px;
  font-weight: 900;
  margin-left: 8px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.social-media__links {
  display: flex;
  justify-content: space-between;
}

.social-media__link {
  font-size: 24px;
  margin-right: 16px;
  padding: 8px;
  border-radius: 9999px;
}

/*

RESPONSIVENESS

*/

@media (max-width: 1200px) {
  .quality__container,
  .nav,
  header,
  main,
  footer {
    padding: 0 32px;
}
}

@media (max-width: 1000px) {
nav {
  padding: 0 24px;
}

  main {
    padding: 0 24px;
  }

  .nav__links {
    display: none;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: 8px;
  }

  .header__description--wrapper {
    display: flex;
    flex-direction: column;
  }

  .header__description--header {
    font-size: 30px;
    text-align: center;
  }

  .header__description--para {
    font-size: 16px;
    text-align: center;
  }

  .header__description--email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .trusted-companies__header {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }

  .trusted-companies__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trusted-companies__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175%;
  }

  .header__img--wrapper {
    margin-bottom: 120px;
  }

   /* 

FEATURES

*/

.features__container {
  padding: 32px 0 32px 0;
}

.features__wrapper {
  margin-top: 24px;
}

.features__service {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  padding: 16px 4px;
}

.features__service--title {
  font-size: 48px;
}

.features__header--para {
  font-size: 14px;
}

.features__service--header {
  font-size: 24px;
}

.features__service--para {
  font-size: 16px;
}

/*

QUALITY-WORK

*/

.quality__container {
  margin-top: 48px;
}

.quality__work--description {
  padding-right: 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.quality__work--title {
  font-size: 16px;
}

.quality__work--header {
  font-size: 36px;
}

.quality__work--para {
  font-size: 14px;
}

.button__quality--wrapper {
  display: flex;
  justify-content: center;
}

.button__quality--work {
  display: flex;
  justify-content: center;
}

.quality__work--img {
  width: 100%;
}


/*

STEPS

*/

.steps__container {
  padding: 0;
}

.steps__img {
  padding: 0;
}

.steps__description--header {
  font-size: 16px;
}

.steps__description--header {
  font-size: 36px;
}

.steps__number--header {
  font-size: 20px;
}

.steps__number--para {
  font-size: 14px;
}

/*

PRICING

*/

.pricing__container {
  padding-bottom: 96px;
}

.pricing__description--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing__description--title {
  font-size: 16px;
}

.pricing__description--header {
  text-align: center;
  font-size: 48px;
}

.pricing__description--para {
  font-size: 14px;
}

.subscription__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.subscription__link {
  width: 100%;
}

/*

FOOTER

*/

.footer__list--wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer__list {
  width: calc(100% / 3);
  padding-left: 48px;
}

.copyright__wrapper {
  display: flex;
  flex-direction: column;
}

.copyright {
  padding: 24px 0;
}

}

@media (max-width: 800px) {

  .features__service {
    width: calc(100% / 2);
  }

  .quality__work--wrapper {
    display: flex;
  }

  .quality__work--description {
    padding-right: 0;
    width: 50%;
    display: flex;
    max-width: 500px;
    margin: 0 auto;
  }
  
.quality__work--img--wrapper {
  width: 50%;
}

}


@media (max-width: 450px) {
  main {
    padding: 0 24px;
  }

  .nav__links {
    display: none;
  }

  .header__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin-top: 8px;
  }

  .header__description--wrapper {
    display: flex;
    flex-direction: column;
  }

  .header__description--header {
    font-size: 24px;
    text-align: center;
  }

  .header__description--para {
    font-size: 12px;
    text-align: center;
  }

  .header__description--email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input {
    max-width: 50%;
  }

  .button {
    position: relative;
    width: 100%;
  }

  .trusted-companies__header {
    font-size: 12px;
    text-align: center;
    margin-top: 12px;
  }

  .trusted-companies__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .trusted-companies__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 218px;
  }

  .header__img--wrapper {
    margin-bottom: 120px;
  }

  /* 

FEATURES

*/

  .features__container {
    padding: 32px 0 32px 0;
  }

  .features__wrapper {
    margin-top: 24px;
  }

  .features__service {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 16px 4px;
  }

  .features__service--title {
    font-size: 24px;
  }

  .features__header--para {
    font-size: 12px;
  }

  .features__service--header {
    font-size: 18px;
  }

  .features__service--para {
    font-size: 12px;
    max-width: 50%;
  }

  .features__service--description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* 

QUALITY-WORK

*/

  .quality__container {
    margin-top: 48px;
  }

  .quality__work--wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .quality__work--description {
    padding-right: 0;
  }

  .quality__work--title {
    font-size: 12px;
    text-align: center;
  }

  .quality__work--header {
    font-size: 24px;
    text-align: center;
  }

  .quality__work--para {
    text-align: center;
    font-size: 12px;
  }

  .button__quality--wrapper {
    display: flex;
    justify-content: center;
  }

  .button__quality--work {
    display: flex;
    justify-content: center;
  }

  .quality__work--img--wrapper {
    width: 80%;
  }

  /*

STEPS

*/

  .steps__container {
    padding: 0;
  }

  .steps__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .steps__img--wrapper {
    width: 80%;
    margin-bottom: 48px;
  }

  .steps__img {
    padding: 0;
  }

  .steps__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .steps__description--header {
    text-align: center;
    font-size: 24px;
  }

  .steps__description--step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .steps__number--description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .steps__number--para {
    font-size: 12px;
  }

  /*

PRICING

*/

  .pricing__container {
    padding-bottom: 96px;
  }

  .pricing__description--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .pricing__description--header {
    text-align: center;
    font-size: 24px;
  }

  .pricing__description--para {
    font-size: 12px;
  }

  .subscription__list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .subscription__link {
    width: 100%;
  }

  /*

FOOTER

*/

  .footer__list--wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer__list {
    width: calc(100% / 3);
    text-align: center;
  }

  .copyright__wrapper {
    display: flex;
    flex-direction: column;
  }

  .copyright {
    padding: 24px 0;
  }
}
