@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.text--purple {
  color: #6415ff;
}

/*

LANDING

*/

.nav__container {
  padding-top: 24px;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  margin: 0 24px;
  color: #243e63;
  font-size: 14px;
  font-weight: 600;
}

.nav__link--login {
  margin: 0 24px 0 48px;
}

.nav__link--primary {
  border: 2px solid #6415ff;
  background-color: #6415ff;
  color: #f7fafc;
  border-radius: 32px;
  padding: 12px 32px;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img--wrapper {
  color: #243e63;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.nav__img--logo {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.header__description--wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.header__description--header {
  font-size: 48px;
  font-weight: 700;
  color: #1a202c;
}

.header__description--para {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
}

.header__description--email {
  content: "";
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  padding: 20px 192px 20px 32px;
  border-radius: 32px;
  border-color: #243e63;
  opacity: 0.2;
  transition: all 300ms ease;
  font-size: 100%;
}

input:hover {
  opacity: 0.4;
}

.button__text {
  color: white;
}

.button {
  content: "";
  position: absolute;
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: #6415ff;
  border-radius: 32px;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 1;
}

.button:hover {
  opacity: 0.5;
}

.trusted-companies__header {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
}

.header__img--wrapper {
  display: flex;
  width: 60%;
}

.trusted-companies__logo {
  opacity: 0.5;
  margin-top: 16px;
  padding-right: 128px;
}

.header__img {
  width: 100%;
}

/*

FEATURES

*/

.features__container {
  padding: 96px 0;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 16px;
}

.features__service--title {
  width: 100%;
  font-size: 48px;
  text-align: center;
  color: #243e63;
  font-weight: 900;
}

.features__header--para {
  max-width: 50%;
  text-align: center;
  font-size: 16px;
  margin: 16px 0 40px;
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
}

.features__service--wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}

.features__service {
  display: flex;
  width: calc(100% / 3);
  padding: 32px 8px;
}

.features__service--icon {
  border: 1px solid #7c8ba173;
  border-radius: 9999px;
  padding: 20px;
}

.features__service--description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px 0 0 16px;
}

.features__service--header {
  font-size: 24px;
}

.features__service--para {
  font-size: 16px;
  font-weight: 500;
  color: #7c8ba1;
  padding-top: 16px;
  line-height: 2;
}

/*

QUALITY-WORK

*/

.quality__container {
  padding: 96px 0;
}

.quality__work--wrapper {
  display: flex;
}

.quality__work--description {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 32px 60px 32px 0;
}

.quality__work--title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
}

.quality__work--header {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  color: #243e63;
}

.quality__work--para {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  line-height: 1.625;
  color: #7c8ba1;
}

.quality__work--img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.quality__work--img {
  width: 100%;
}

.button__quality--wrapper {
  display: flex;
  margin-top: 32px;
}

.button__quality--work {
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 700;
  background-color: #6415ff;
  border-radius: 32px;
  text-align: center;
  opacity: 1;
  transition: all 300ms ease;
}

.button__quality--work:hover {
  opacity: 0.5;
}

/*

STEPS

*/

.steps__container {
  padding: 96px 0;
}

.steps__wrapper {
  display: flex;
}

.steps__img--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.steps__img {
  padding: 48px;
  width: 100%;
}

.steps__description--title {
  font-size: 16px;
  font-weight: 700;
}

.steps__description--header {
  font-size: 48px;
  font-weight: 900;
  margin-top: 16px;
  color: #243e63;
}

.steps__description {
  display: flex;
  flex-direction: column;
}

.steps__description--steps {
  display: flex;
  flex-direction: column;
}

.steps__description--step {
  display: flex;
  margin-top: 32px;
}

.steps__number {
  font-size: 36px;
  font-weight: 600;
  color: #cbd5e0;
  padding-right: 20px;
}

.steps__number--description {
  display: flex;
  flex-direction: column;
}

.steps__number--header {
  font-size: 20px;
  font-weight: 600;
  color: #243e63;
}

.steps__number--para {
  font-size: 14px;
  font-weight: 500;
  color: #718096;
  margin-top: 12px;
  max-width: 70%;
}
